@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Category
@{
    ViewData["Title"] = "Delete Category";
}
<form method="post" asp-controller="Categories" asp-action="Delete">
    <div class="mb-3">
        <label asp-for="Id"></label>
        <input asp-for="Id" contenteditable="false"/>
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" contenteditable="false"/>
    </div>
    <div class="mb-3">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" contenteditable="false"/>
    </div>
    <button type="submit" class="btn btn-primary" >
        <i class="bi bi-trash3"></i> Delete
    </button>
    <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-skip-backward-circle-fill"></i> Back To List
    </a>
</form>
